// Last updated record
.last-updated {
	
	p {
		font-size: 0.8rem;
		margin-top: 2.1rem;
	}
}

// Article listings
.article-listing {

	.row {
		border-bottom: $collection-border-color solid 1px;
    	padding-bottom: 10px;
	}	

	.title {
		margin-top: 0;
		font-weight: 500;
		padding-left: 0;
	}

	.meta {
		font-size: 0.7rem;
		text-transform:uppercase;
		margin-top: 0;
		clear:both;

		span {
			display:block;
		}
	}
}