// Last updated record
.last-updated {
	
	p {
		font-size: $p-small;
		margin-bottom: 0;
	}
}

// Article listings
.article-listing {

	.row {
		border-bottom: $collection-border-color solid 1px;
    	padding-bottom: 10px;
	}

	.thumbnail {
    	width: 112px;
    	height: 87px;
		position: relative;
		padding-right: 0;

		.article-type-badge {
			font-size: $p-x-small;
			font-weight: $weight-medium;
			letter-spacing: 0.03rem;
			color: $meta-badge-text-color;
			text-transform: $meta-badge-text-transform;
			background: $meta-badge-bg-color;
			padding: 4px 12px;
			position: absolute;
			bottom: 7px;
			left: 12px;
		}
	}	

	.title {
		margin-top: 0;
		font-weight: 500;
		padding-left: 0;

		a {
			color: $off-black;
		}
	}

	.meta {
		font-size: $p-small;
		text-transform:uppercase;
		margin-top: 0;
		clear:both;

		span {
			display:block;
		}

		.info {
			font-weight: $weight-medium;
		}
	}
}

@media #{$medium-and-up} {

	.article-listing {

		.thumbnail {
		    width: 162px;
		    height: 127px;

			.article-type-badge {
				font-size: $p-small;
			}
		}

		.meta {
			margin-bottom: 0.2rem;
		}

		.excerpt {
			margin-top: 0;
		}

	}

}