// Breadcrumb

.breadcrumb {
	height: auto;
	background: none;
	line-height: 2rem;
	@extend .z-depth-0;
	padding-top: 10px;

	.row {
		margin-bottom: 0;
	}

	a {
		color: $link-color-light;
		font-weight: $weight-medium;
	}

	&:before {
		color: $link-color-light;
	}

	&:last-child {	
    	color: $link-color;
  	}
}