@media #{$small-and-down} {

 	.compare {

		.compare-grid {
			overflow: scroll;
		}
 	}
}

.compare {


	table {

		th.compare {
			width: 20%;
			vertical-align: top;

			a {
				vertical-align: inherit;
			}

			img {
				max-width: 120px;
			}
		}

		th.attribute-label, th.attribute {
			background: $border-color;
		}

		.remove {
			font-size: $p-x-small;
			cursor: pointer;
			background: $border-color;
			@include border-radius(10px);
			padding: 2px 6px;


			i {
				font-size: $p-small;
				position: relative;
				top: 3px;
			}
		}

		td.compare {
			vertical-align: top;
		}

	}
	
	.stats {

		.collection {
			background: #fff;
			padding-bottom: 20px;

			.tertiary-content {
				width: 84px;
		    	display: block;
		    	margin-left: auto;
			}

			.materials {
				
				.row {
					margin-bottom: 0;
				}

				.secondary-content {

					span {
					    padding: 0.75rem 0;
    					display: block;
    					line-height: normal;
					}
				}
			}
		}

	}

	.collection-header i {
	    width: 1.4rem;
	    font-size: 1.6rem;
	    line-height: 2.5rem;
	    display: block;
	    float: left;
	    text-align: center;
	    margin-right: 1rem;
	}

}