// Padding

.alpha {
	padding-left: 0 !important;
}

.omega {
	padding-right: 0 !important;
}

// Responsive Floats
@media #{$small-and-down} {

	.s-right {
		float: right !important;
	}

	.s-left {
		float: left !important;
	}

}

// Clearing fix

.clearfix:before, 
.clearfix:after {
    content: " "; 
    display: table; 
  }

 .clearfix:after {
    clear: both;
 }


// Box content on medium viewports

@media #{$medium-and-down} {

	.boxed-content-med-and-down {
		max-width: 700px;
		margin: 0 auto;
	}

}

@media #{$medium-only} {

	.boxed-content {
		max-width: 700px;
		margin: 0 auto;
	}

}

// Box content on large viewports
@media #{$large-and-up} {

	.boxed-content {
		width: 700px;
		margin: 0 auto;
	}

}