// panels 

.panel {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	background: $panel-color;
	padding: $panel-padding-top-bottom;
}

// image figures
.article-page {

	figure {
		margin: 0 0 1em 0;
	}
}


// image modal
.article-page {

	.modal.image {
		width: 90%;

		.modal-content {
			padding: 0;
			line-height: 0;
		}
	}
}

// ratings
.ratings {

	.progress {
		width: 50%;
	}

}