// panels 

.panel {
	border: 1px solid $border-color;
	background: $panel-color;
	padding: $panel-padding-top-bottom;
}


@media #{$small-and-down} {

	.panel {
		border-left: none;
		border-right: none;
	}
}

// collections
@media #{$small-and-down} {
	
	.collection {
		width: 100%;
		border-left: none;
		border-right: none;
	}
}

// image figures
figure {
	margin: 0 0 1em 0;
}

// image modal
.modal.image {
	width: 90%;

	.modal-content {
		padding: 0;
		line-height: 0;
	}
}

// ratings

.ratings {

	.collection .collection-item {
		position: relative;
	}

	.progress {
		width: 50%;
		margin-right: 45px;
	}

	.value {
		position: absolute;
		right: 10px;
	    top: 23px;
	    background: $primary-color;
	    color: $white;
	    padding: 3px 7px;
	    line-height: normal;
	    @include border-radius(10px);
	    font-weight: $weight-medium;
	    font-size: $p-x-small;
	}
}

@media #{$small-and-down} {

	.ratings {

		.collection .collection-item {
			position: relative;
		}

		.progress {
			width: 88%;
			margin-right: 40px;
			float: left;
		}

		.value {
			right: 10px;
		    top: 64px;
		}
	}
}

// Tool tips
.toast {

	span {
		position: relative;

		i {
			position: relative;
			top: 5px;
		}
	}
}

// Definition tags
dl {

	dt {
	    float:left; 
	    margin-right:10px; 
	    padding:5px 0 0 0;  
	}

	dd {
    	padding:5px 0;
    	font-weight: $weight-medium;
	}

}

dl.small-list {

	dt {
		width: 120px;
	}

}

// Average height icons

.average-height {

	width: 84px;
	height: 47px;

	&.one-5 {
		@include sprite-sheet(0 -70px);
	}

	&.two-5 {
		@include sprite-sheet(0 -117px);
	}

	&.three-5 {
		@include sprite-sheet(0 -164px);
	}

	&.four-5 {
		@include sprite-sheet(0 -211px);
	}

	&.five-5 {
		@include sprite-sheet(0 -258px);
	}
	
}

// Accordions
.collapsible {
	h2 {
		margin-top: 0;
		padding-top: 10px;
	}
}

// Image Placeholders

.article-listing {

	.thumbnail {

		img {
			min-width: 100px;
			min-height: 80px;
			@include sprite-sheet(0 -248px);
			background-size: 100px 330px;
		}

		@media #{$medium-and-up} {

			img {
				min-width: 150px;
				min-height: 120px;
				@include sprite-sheet(0 -360px);
			}
			
		}

	}

}

.collection .collection-item.avatar .circle {
	@include sprite-sheet(0 -310px);
}

// Modals

	.modal-close-large {
		position: fixed;
		top: 0;
		right: -13px;
	}

