<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PSR | Article Listing</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/base.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <main class="hero-mode">

    <section class="row intro boxed-content"><!-- intro -->
      <div class="col s12">
        <h1>Latest Plastic Soldier News And Reviews</h1>
      </div>
      <div class="col s12 last-updated">
        <p>Last updated on 12/12/12</p>
      </div>
    </section><!--/ intro -->

    <section class="article-listing"><!-- hero -->

      <div class="row hero">
        <div class="col thumbnail">
          <img src="http://placehold.it/80x80" alt="" class="responsive-img">
        </div>
        <div class="col s8 m10 l12">
          <p class="title">Russian War Monks and Russian War Monks Artillery</p>
          <p class="meta">
            <span>23rd Jan 2016 / Review</span>
            <span>Manufacturer, Period</span>
          </p>
          <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col l12">
          <a href="#!" class="btn ghost">Read Review</a>
        </div>
        <div class="background" style="background:url(http://placehold.it/800x400)"></div>
      </div>

    </section><!--/ hero -->

    <section class="article-listing boxed-content"><!-- article listing -->
      
      <ul>

        <li class="row">
          <div class="col thumbnail">
            <img src="http://placehold.it/80x80" alt="" class="responsive-img">
          </div>
          <div class="col s8 m10">
            <p class="title">Russian War Monks and Russian War Monks Artillery</p>
            <p class="meta">
              <span>23rd Jan 2016 / Review</span>
              <span>Manufacturer, Period</span>
            </p>
            <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>    
        </li>

        <li class="row">
          <div class="col thumbnail">
            <img src="http://placehold.it/80x80" alt="" class="responsive-img">
          </div>
          <div class="col s8 m10">
            <p class="title">Russian War Monks and Russian War Monks Artillery</p>
            <p class="meta">
              <span>23rd Jan 2016 / Review</span>
              <span>Manufacturer, Period</span>
            </p>
            <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>    
        </li>

        <li class="row">
          <div class="col thumbnail">
            <img src="http://placehold.it/80x80" alt="" class="responsive-img">
          </div>
          <div class="col s8 m10">
            <p class="title">Russian War Monks and Russian War Monks Artillery</p>
            <p class="meta">
              <span>23rd Jan 2016 / Review</span>
              <span>Manufacturer, Period</span>
            </p>
            <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>    
        </li>

        <li class="row">
          <div class="col thumbnail">
            <img src="http://placehold.it/80x80" alt="" class="responsive-img">
          </div>
          <div class="col s8 m10">
            <p class="title">Russian War Monks and Russian War Monks Artillery</p>
            <p class="meta">
              <span>23rd Jan 2016 / Review</span>
              <span>Manufacturer, Period</span>
            </p>
            <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>    
        </li>

        <li class="row">
          <div class="col thumbnail">
            <img src="http://placehold.it/80x80" alt="" class="responsive-img">
          </div>
          <div class="col s8 m10">
            <p class="title">Russian War Monks and Russian War Monks Artillery</p>
            <p class="meta">
              <span>23rd Jan 2016 / Review</span>
              <span>Manufacturer, Period</span>
            </p>
            <p class="excerpt hide-on-med-and-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>    
        </li>

      </ul>

      <div class="center">
        <a class="waves-effect waves-teal btn-flat">Load more articles</a>
      </div>

    </section><!--/ article listing -->

    <section class="row align-center boxed-content"><!-- site features -->

      <h2 class="col s12">Discover More on Plastic Soldier Review</h2>

      <ul class="row">
        
        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>Periods</h4>
                </div>
              </div>
            </a>
        </li>

        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>Manufacturers</h4>
                </div>
              </div>
            </a>
        </li>

        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>Features</h4>
                </div>
              </div>
            </a>
        </li>

        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>Future Releases</h4>
                </div>
              </div>
            </a>
        </li>

        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>News</h4>
                </div>
              </div>
            </a>
        </li>

        <li class="col s6 m4">
            <a href="#">
              <div class="card center hoverable">
                <div class="card-image">
                  <img src="http://placehold.it/160x120">
                  <h4>Awaiting Review</h4>
                </div>
              </div>
            </a>
        </li>

      </ul>

    </section><!--/ site features -->

  </main>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large green" id="top">
      <i class="material-icons">keyboard_arrow_up</i>
    </a>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      // for modal
      $('.modal-trigger').leanModal();
      // for select
      $('select').material_select();
    });
  </script>

  </body>
</html>
