<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PSR | Header and Footer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/base.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <header>
  
    <nav role="navigation">
      
      <div class="nav-wrapper container">

        <a id="logo-container" class="left hide-on-large-only mobile-logo" href="/home"></a>

        <ul id="nav-mobile" class="right hide-on-large-and-up nav-mobile">
          <li><a class="modal-trigger" href="#modal1"><i class="material-icons">search</i>Search</a></li>
          <li class="hide-on-small-only"><a href="/compare"><i class="material-icons">invert_colors</i>Compare</a></li>
        </ul>
        
        <ul id="slide-out" class="side-nav fixed">
          <li class="logo">
            <a id="logo-container" href="#" class="nav-logo"></a>
          </li>
          <li><a class="modal-trigger hide-on-med-and-down" href="#modal1">Search</a></li>
          <li><a class="modal-trigger hide-on-med-and-down" href="/compare">Compare <span>3 / 4 added</span></a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/periods">Periods</a></li>
          <li><a href="/manuafacturers">Manufacturers</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/future-releases">Future Release</a></li>
          <li><a href="/awaiting-reviews">Awaiting Reviews</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="#/links">Links</a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse right"><i class="mdi-navigation-menu"></i>
          Menu
        </a>

      </div>
    </nav>

    <div id="modal1" class="modal bottom-sheet search"><!-- search modal -->
      <div class="modal-content search">

        <form>

          <div class="row">
            <div class="input-field col s9 search-field">
              <input placeholder="Keyword" id="search" type="search" required>
              <label for="search"></label>
              <i class="material-icons">close</i>
            </div>
            <div class="col s3 right right-align">
              <a href="#!" class="modal-action modal-close">Cancel</a>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <label>Time Period:</label>
            </div>
            <div class="input-field col s5">
              <input placeholder="From" id="period_from" type="text" class="validate">
            </div>
            <div class="input-field col s5 right">
              <input placeholder="To" id="period_to" type="text" class="validate">
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Manufacturer</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Year First Released</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Height Status</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Plastic Colour</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Nationality</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Type</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              </select>
            </div>
            <div class="col s12 center-align">
              <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
            </div>
          </div>

          <div class="center-align">
            <a class="waves-effect waves-teal btn-flat">Hide Advanced Search</a>
          </div>

        </form>
      
      </div>
    </div><!--/ search modal -->

  </header>

  <main>

    <section class="row intro boxed-content">
      <h1>Sample Content</h1>
    </section>

    

  </main>

  <footer class="page-footer grey">
    <div class="container">
      
      <div class="row">

        <div class="col s12 center">
          <a href="#" class="footer-logo"></a>
        </div>

        <div class="col s12 center">
          <h5 class="white-text">Additional Informaton</h5>
          <ul>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text" href="/contact">Contact</a></li>
            <li><a class="white-text" href="/faqs">FAQs</a></li>
            <li><a class="white-text" href="/terms-and-conditions">Terms &amp; Privacy</a></li>
            <li><a class="white-text" href="/sitemap">Sitemap</a></li>
          </ul>

        <hr />  

          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
          </ul>

        <hr />  
        
        </div>
     
      </div>

      <div class="container footer-copyright center">
          <p>Site content &copy; 2002, 2009, 2016. All rights reserved. Manufacturer logos and trademarks acknowledged.</p>
      </div>

    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      // for modal
      $('.modal-trigger').leanModal();
      // for select
      $('select').material_select();
    });
  </script>

  </body>
</html>
